#Python Compilation
**/__pycache__/

#Notebook Checkpoints
**/.ipynb_checkpoints

#XGBoost 
backend/temp.csv
backend/WaitTimesRegression.csv

#Package-lock
**/package-lock.json

#VSCode
**/.vscode/

#Setup Files
**/dist/
**/PurdueEats.egg-info/
**/build/

# IntelliJ
CS307.iml
PurdueEats.iml
.idea
/venv

*/__pycache__
/gen